* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: Arial, Helvetica, sans-serif;
background: #f2f2f2;
}


.page {
width: 1200px;

margin: 40px auto;
background: #fff;
padding: 40px;
}

.top-bar {
background: #2f6fd6;
padding: 20px 30px;
}


.top-bar h1 {
font-family: 'Bagel Fat One', sans-serif;
color: white;
font-size: 48px;
}
.content {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 30px;
margin-top: 30px;
}


.column {
  position: relative;
}

.column.left::after,
.column.center::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 2px;
  height: 100%;
  background: #2f6fd6;
}


.section-title {
font-size: 48px;
margin-bottom: 20px;
font-family: 'OI', sans-serif;
}


.section-title.blue {
color: #2B6EDA;
}


.section-title.brown {
color: #422B2B;
}


.section-title.pink {
color: #F79EB0;
}
.section-title.yellow {
color: #FFB205;
}


.menu-list {
list-style: none; /* remove bullets */
padding: 0;
margin: 0;
font-family: 'Lilita One', sans-serif;
}


.menu-list li {
display: flex;
justify-content: space-between;
font-size: 14px;
margin-bottom: 8px;
}


.item-price {
white-space: nowrap;
}

.sub-title {
font-size: 16px;
margin: 20px 0 8px;
}
.line-blue {
border-top: 2px solid #2f6fd6;
margin: 10px 0 20px;
}

.line-blue.thin {
border-top: 1px solid #2f6fd6;
margin-bottom: 10px;
}

.line-brown {
border-top: 2px solid #4b2e2e;
margin: 10px 0 20px;
}
.line-pink {
border-top: 2px solid #f4a3b5;
margin: 10px 0 20px;
}
.news-item {
font-size: 13px;
margin-bottom: 20px;
}


.news-item p {
margin-top: 5px;
font-family: 'Fira Code', monospace;
}

.contact-form input,
.contact-form textarea {
width: 100%;
padding: 8px;
margin-bottom: 10px;
background: #8FA8DB;
}


.contact-form button {
background: #2f6fd6;
color: white;
border: none;
padding: 10px;
cursor: pointer;
}
.footer {
border-top: 2px solid #2f6fd6;
margin-top: 40px;
padding-top: 10px;
text-align: center;
}