* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #2f6fd6;
}
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  display: flex;
  align-items: center;
}


body {
font-family: Arial, Helvetica, sans-serif;
background: #f2f2f2;
}


.page {
width: 1200px;

margin: 40px auto;
background: #fff;
padding: 40px;
}

.top-bar {
background: #2f6fd6;
padding: 20px 30px;
}


.top-bar h1 {
font-family: 'Bagel Fat One', sans-serif;
color: white;
font-size: 48px;
}
.content {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 30px;
margin-top: 30px;
}


.column {
  position: relative;
}


.sips-columns {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  column-gap: 20px;
  align-items: start;
   margin-top: 10px;
   position: relative;
}

.sips-columns::after {
  content: "";
  width: 2px;
    height: calc(100% + 15px);

  background: #2f6fd6;
  position: absolute;
  left: 50%;
bottom: 0;
}
.grub-columns {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  column-gap: 20px;
  align-items: stretch;
}
.grub-divider {
  background: #4b2e2e;
  width: 2px;
  margin-top: -20px
}


.grub-savory {
  grid-row: 1;
  grid-column: 1;
}

.grub-sweet {
  grid-row: 1;
  grid-column: 3;
}

.line-brown.thin {
  grid-row: 2;
  grid-column: 1 / 4;
  margin: 0;
}

.grub-baked {
  grid-row: 3;
  grid-column: 1;
}

.grub-fruits {
  grid-row: 3;
  grid-column: 3;
}



.grub-columns .menu-list {
  margin-bottom: 25px;
}



.section-break {
  margin-top: 30px;
}


.section-title {
font-size: 48px;
margin-bottom: 10px;
font-family: 'Oi', sans-serif;
}
.sub-title {
  font-family: 'Oi', sans-serif;
  color: #422B2B;
}
.sub-title.Coffee{
  color: #2B6EDA;
}

.section-title.blue {
color: #2B6EDA;
}


.section-title.brown {
color: #422B2B;
}


.section-title.pink {
color: #F79EB0;
}
.section-title.yellow {
color: #FFB205;
}


.menu-list {
list-style: none; /* remove bullets */
padding: 0;
margin: 0;
font-family: 'Lilita One', sans-serif;
margin-bottom: 18px;
}


.menu-list li {
display: flex;
justify-content: space-between;
font-size: 14px;
margin-bottom: 6px;
align-items: flex-start;
}

.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-desc {
  font-size: 12px;
  color: #666;
  margin-top: 2px;
}


.item-price {
white-space: nowrap;
}

.sub-title {
font-size: 16px;
margin: 14px 0 6px;
}
.line-blue {
border-top: 2px solid #2f6fd6;
margin: 6px 0 14px;
}

.line-blue.thin {
border-top: 1px solid #2f6fd6;
margin-bottom: 8px;
}

.line-brown {
border-top: 2px solid #4b2e2e;
margin: 10px 0 20px;
}
.line-pink {
border-top: 2px solid #f4a3b5;
margin: 10px 0 20px;
}
.line-yellow {
border-top: 2px solid #FFB205;
margin: 10px 0 20px;
}
.news-item {
font-size: 13px;
margin-bottom: 20px;
}


.news-item p {
margin-top: 5px;
font-family: 'Fira Code', monospace;
}
.contact-header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 12px 10px;
  margin-bottom: 14px;
border-radius: 12px;

  background: #8FA8DB;
  border: none;
  outline: none;

  font-family: 'Lilita One', sans-serif;
  font-size: 14px;
  color: #000;
    min-height: 38px;
  resize: none;
}
.contact-form textarea {
  min-height: 120px;
  resize: none;
}


.contact-form ::placeholder {
  color: #000;
  opacity: 0.6;
}
.checkbox-group {
  margin: 12px 0 18px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: 'Lilita One', sans-serif;
  font-size: 14px;

  margin-bottom: 8px;
}
.checkbox-group input[type="checkbox"] {
  width: 14px;
  height: 14px;
  accent-color: #2f6fd6;
  cursor: pointer;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: start;
}


.contact-form button {
background: #2f6fd6;
color: white;
border: none;
padding: 10px;
cursor: pointer;
border-radius: 8px; 
}

/* Hamburger menu */
#menu-toggle {
  display: none;
}

.nav-menu {
  position: absolute;
  top: 180px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 175%;
  background: #FFB205;
  display: none;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  font-family: 'bagel fat one', sans-serif;
}



#menu-toggle:checked ~ .nav-menu {
  display: flex;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-menu li {
  margin: 20px 0;
}

.nav-menu a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
font-family: 'Bagel Fat One', sans-serif;
  font-size: 24px;
}
.footer {
border-top: 2px solid #2f6fd6;
margin-top: 40px;
padding-top: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}